ion-content, ion-toolbar, ion-list, ion-label, ion-item, ion-searchbar{
    --background: var(--main-background-color) !important;
    --color: var(--main-text-color);
}

section{
    margin-top: 15px;
    background: var(--main-background-color) !important;
}

h5{
    text-align: center;
    margin: 10px 0;
}

ion-list{
    background: none;
}