<section>

  <ion-searchbar (ionChange)="searchbarValueChange($event)"></ion-searchbar>

  <section id="vocabulary-last-words" *ngIf="searchbarIsEmpty">

    <h5> Derniers mots de vocabulaires enregistrés</h5>

    <ion-list lines='full'>
      <ion-item *ngFor='let vocab of lastVocabs' (click)="goToDetails(vocab)">
        <ion-label>{{vocab.name}}</ion-label>
      </ion-item>
    </ion-list>
  </section>

  <ul *ngIf="!searchbarIsEmpty">
    <li *ngFor="let vocab of allVocabs">{{vocab.name}}</li>
  </ul>

</section>
