ion-content {
  --background: var(--main-background-color);
  --color: var(--main-text-color);
}

#homepage-title {
  height: 25vh;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.menu-home-shortcut {
  min-height: 30px;
  min-width: 150px;
  background-color: var(--secondary-button-background-color);
  color: var(--secondary-button-text-color);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 0 10px;
}

.menu-home-shortcuts{
  display: flex;
  justify-content: space-evenly;
}


.shortcut-icon{
  margin-right: 5px;
}

.links-container{
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.menu-link{
  min-height: 40px;
  min-width: 80vw;
  width: 90vw;
  --background: var(--main-button-background-color);
  margin-bottom: 15px;
  color: var(--main-button-text-color);
  font-size: 18px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}