<ion-content [fullscreen]="true">
  <h3 id="homepage-title"> Check The Voc</h3>

  <div class="menu-home-shortcuts">

    <div *ngFor="let shortcut of menuShortCuts" class="menu-home-shortcut">
      <ion-icon *ngIf="shortcut.logo" [name]="shortcut.logo" class="shortcut-icon">
      </ion-icon>
      {{shortcut.title}}
    </div>

  </div>

  <div class="links-container">
    <ion-button *ngFor="let button of menuButtonsTo" [routerLink]="'../' + button.link" class="menu-link">
      <ion-icon *ngIf="button.logo" [name]="button.logo" class="shortcut-icon">
      </ion-icon>

      {{button.title}}
    </ion-button>
  </div>
</ion-content>